<html>

<head>
    <link href="http://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet">
    <style>
        @import url('http://fonts.cdnfonts.com/css/arcade-classic%27%27');
    </style>
    <title>Barcode Reader</title>
    <link rel="stylesheet" href="../static/Daniel.css">
</head>

<body>
    <div>
        <h1>UGA &nbsp Hacks &nbsp 7 &nbsp Team</h1>
    </div>
    <div class="menu_stuff">
        <ul>
            <div class="post">
                <li><a class="menu_stuff" href="{{url_for('home')}}">Scanner</a></li>
                <li><a class="menu_stuff" href="AboutUs.html">About us</a></li>
            </div>
        </ul>

    </div>
</body>

</html>