<html>
    <head>
        <title>About Us</title>
    </head>
    <link rel = "stylesheet" href = "../static/AboutUs.css">
    <body>
        <h1>Hello, World!</h1>
        <div class = "content">
            <img src = "../img/GroupPic.jpg">
            <div class = "overlay">
                <div class = "text">Daniel Wekesa, Aldrich Tambajong, Lornah Okoth, Chyla Walker </div>
            </div>
        </div>
        <h2>HEY! HEY! WHERE THE PROBLEM AT?</h2>
        <div class = "info">
            <p>For my team’s project, we thought about problem’s that impacted people’s everyday life. We happened upon the issue of customers having to traverse the store multiple times because of either not knowing where an item is or forgetting where an item. Our idea was having a way to scan a barcode of an item in order to tell where exactly it should be in a story and to move to where it is more practically.</p>
        </div>
    </body>
</html>