<html>
    <head>
        <title>About Us</title>
    </head>
    <link rel = "stylesheet" href = "../static/AboutUs.css">
    <body>
        <h1>Hello, World!</h1>
        <div class = "content">
            <img src = "../img/GroupPic.jpg">
            <div class = "overlay">
                <div class = "text">Daniel Wekesa, Aldrich Tambajong, Lornah Okoth, Chyla Walker </div>
            </div>
            <div class = "info">
                <p></p>
            </div>
        </div>
    </body>
</html>