<html>
    <head><link href="http://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet">
        <style>
            @import url('http://fonts.cdnfonts.com/css/arcade-classic');
            </style>
        <title>Make Coding Great Again</title>
    </head>
    <link rel="stylesheet" href = "../static/Daniel.css">
    <body>
        <h1>UGA &nbsp Hacks &nbsp 7 &nbsp Team</h1>
        <h2><a class = "barcode" href = "No clue">Barcode &nbsp Scanner</a></h2>
        <div class = "content">
            <h2><a class= "us" href = "Chyla.html">About us</a></h2>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Gallery</li>
                <li>Contact us</li>
              </ul>
              
              <a class="shameless-plug" href="https://scottyzen.com/?cp" target="_blank">👋 Visit My Website</a>
        </div>
    </body>
</html>