<html>
    <head><link href="http://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet">
        <style>
            @import url('http://fonts.cdnfonts.com/css/arcade-classic');
            </style>
        <title>Barcode Reader</title>
    </head>
    <link rel="stylesheet" href = "../static/Daniel.css">
    <body>
        <div>
            <h1>UGA &nbsp Hacks &nbsp 7 &nbsp Team</h1>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Gallery</li>
                <li>Contact us</li>
              </ul>
              
              <a class="shameless-plug" href="https://scottyzen.com/?cp" target="_blank">👋 Visit My Website</a>
        </div>
    </body>
</html>