<html>
    <head>
        <title>About Us</title>
    </head>
    <link rel = "stylesheet" href = "../static/index.css">
    <body>
        <div class = "content">
            
        </div>

    <header>
        
    </header>
        
    </head>
    <body>
        <h1>Camera</h1>
        <div class = "Prayers">
        <img src="{{url_for('scanner')}}">
        <form method="POST" action="{{url_for('tasks')}}">
            <input type="submit" value="capture" name="capture">
        </form>
        </div>
    </body>
</html>