@import url('http://fonts.cdnfonts.com/css/arcade-classic'); 

body{
    background-color:plum;
}
.content {
    display:flex;
}
.content img{
    width:500;
    margin-left:auto;
    margin-right:auto;
    border-radius:8px;
    position:relative;
    display:flex;
}
.overlay {
    position: absolute;
    bottom: 500;
    margin:center;
    margin-left:426;
    
    background-color: rgba(56, 56, 56, 0.788);
    overflow: hidden;
    width: 500;
    height: 0;
    top:13%;
    transition: .5s ease;
  }
  .content:hover .overlay{
      bottom: 0%;
      height: 40%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 19px;
    position:relative;
    overflow:hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  h1{
      text-align:center;
      font-family: 'ArcadeClassic', sans-serif;
  }
  h2{
    font-family: 'ArcadeClassic', sans-serif;
  }
  .home{

  }
  .info{
      display:block;
      background-color:rgba(80, 248, 220, 0.473);
      font-family:'Times New Roman', Times, serif;
      width:50%;
      margin-left:auto;
      margin-right:auto;  
      border-radius: 8px;
  }
  h2{
    text-align:center;
    font-family: 'ArcadeClassic', sans-serif;
  }
  .about {
      padding: 20px;
      
  }