body{
    background-image:url("../img/UGAHacks7.1.jpg");
    background-size:contain;
    background-position-x: center;
    font-family: 'ArcadeClassic', sans-serif;
}
h1{
    color:rgb(236, 157, 217);
    text-align:center;
}
.content{
    vertical-align:bottom;
    width: 
}
.groupPic{
    width:1px;
    height:1px;
    display:block;
}