@import url('http://fonts.cdnfonts.com/css/arcade-classic');
body{
    background-color:plum;
}
.content {
    display:flex;
}
.content img{
    width:500;
    margin-left:auto;
    margin-right:auto;
    border-radius:8px;
    display:block;
}